### Data structures

In [3]:
L=[1,3,4.9,"name",3]## this in a box bracket,can be modify,like adding,removing,and also allow duplicates
T=(1,3,4.9,"Name",3)## turple in a curve bracket,This does not required any modification when created alraedy.
s={1,3,4.9,"Name",3} ## set are in curly bracket, don't accept duplicate in them when coding with it.
d={23:"twentythree",67:"Gorgeous","name":45} ## the same but dic always have keys and value

In [4]:
print("The type of L is",type(L))
print("The type of T is", type(T))
print("The type of s is", type(s))
print("The type of d is", type(d))

The type of L is <class 'list'>
The type of T is <class 'tuple'>
The type of s is <class 'set'>
The type of d is <class 'dict'>

In [12]:
print(L[3])
print(T[3])
print(3 in s)
print(d[67])

name
Name
True
Gorgeous

In [13]:
print(s)

{1, 3, 4.9, 'Name'}

In [ ]:
## List: Lists are mutable, which means you can change their elements (add, remove, or modify) after they are created.
## Tuple: Tuples are immutable, which means you cannot change their elements once they are defined. 
## You can create a new tuple with the desired elements, but you cannot modify the existing tuple.

## turple and list can be accessed in with index

In [15]:
L[1::3]

[3, 3]

In [16]:
T[::-3]

(3, 3)

In [18]:
L= L +["come","backpack","Housing_home","Football","Good"]
L

[1,
 3,
 4.9,
 'name',
 3,
 'come',
 'backpack',
 'Housing_home',
 'Football',
 'Good',
 'come',
 'backpack',
 'Housing_home',
 'Football',
 'Good']

In [22]:
L.append(4.9)
L

[1,
 3,
 4.9,
 'name',
 3,
 'come',
 'backpack',
 'Housing_home',
 'Football',
 'Good',
 'come',
 'backpack',
 'Housing_home',
 'Football',
 'Good',
 4.9,
 4.9,
 4.9]

In [26]:
T2=("a","b",6.7,"c")## This is the only way you can add turple together 
T3=T + T2
T3

(1, 3, 4.9, 'Name', 3, 'a', 'b', 6.7, 'c')

In [28]:
s.add(566)## the way you can add in sets and no dupicate output
s

{1, 3, 4.9, 566, 'Name'}

In [29]:
s.update({23,"Game",56})
s

{1, 23, 3, 4.9, 56, 566, 'Game', 'Name'}

In [31]:
d["new key"]= "New value"##Way of adding element to this to the Dictionary
d

{23: 'twentythree', 67: 'Gorgeous', 'name': 45, 'new key': 'New value'}

In [33]:
d["Name"]= "David" ##Way of adding element to this to the dictionary
d

{23: 'twentythree',
 67: 'Gorgeous',
 'name': 45,
 'new key': 'New value',
 'Name': 'David'}

In [ ]:
## another basic way is just to concatenate to variable of the same data structures together
## in any of the data structures.
## Examples Below:

In [34]:
D2={"NAME":"geoge","Age":32,"height":6}
D3=d+D2## YOU CANNOT CONCATENATE TWO DICTIONARY

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [47]:
d.update(D2)

In [48]:
d

{23: 'twentythree',
 67: 'Gorgeous',
 'name': 45,
 'Name': 'David',
 'NAME': 'geoge',
 'Age': 32,
 'height': 6}

In [36]:
del L[3]
L

[1,
 3,
 4.9,
 'come',
 'backpack',
 'Housing_home',
 'Football',
 'Good',
 'come',
 'backpack',
 'Housing_home',
 'Football',
 'Good',
 4.9,
 4.9,
 4.9]

In [37]:
s

{1, 23, 3, 4.9, 56, 566, 'Game', 'Name'}

In [42]:
s.remove("Game")## this has been removed already

KeyError: 'Game'

In [43]:
s

{1, 23, 3, 4.9, 56, 566, 'Name'}

In [44]:
d

{23: 'twentythree',
 67: 'Gorgeous',
 'name': 45,
 'new key': 'New value',
 'Name': 'David'}

In [45]:
del d["new key"]

In [46]:
d

{23: 'twentythree', 67: 'Gorgeous', 'name': 45, 'Name': 'David'}

In [49]:
## IN OTHER TO COPY THE SAME ELEMENT INTO ANOTHER TYPE OF VARIABLE IN THE DATA STRUCTURES
L2=L.copy()

In [50]:
L2 ## its now have the same features without it affecting the values in the list

[1,
 3,
 4.9,
 'come',
 'backpack',
 'Housing_home',
 'Football',
 'Good',
 'come',
 'backpack',
 'Housing_home',
 'Football',
 'Good',
 4.9,
 4.9,
 4.9]

In [ ]:
## slicing
## Slicing in Python is a technique for extracting a portion of a sequence (such as a string, list, or tuple) 
## by specifying a start index, an end index, and an optional step size. 
## It allows you to create a new sequence containing a subset of the original elements.

In [51]:
my_list = [0, 1, 2, 3, 4, 5]
sliced_list = my_list[1:4]

In [52]:
sliced_list

[1, 2, 3]

In [53]:
my_string = "Hello, World!"
sliced_string = my_string[0:12:2]##we just skip it by two

In [54]:
sliced_string

'Hlo ol'

In [56]:
d

{23: 'twentythree',
 67: 'Gorgeous',
 'name': 45,
 'Name': 'David',
 'NAME': 'geoge',
 'Age': 32,
 'height': 6}

In [59]:
L3= [x**2 for x in range(10)]
L3

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [60]:
type(L3)

list

In [61]:
L4= [x**2 for x in range(2,20,2)]
L4

[4, 16, 36, 64, 100, 144, 196, 256, 324]

In [7]:
def grade_offender():
    D = {}
    while True:
        studentid= input("Enter your id: ")
        marklist= input("Enter each marks by comma: ")
        morestudents= input('Enter "no" to quit:')
        if studentid in D:
            print("studentid inputted successfully!!!")
        else:
            D[studentid] == marklist.split(",")
        if  morestudents.lower() == "no":
            return D

In [ ]:
studentdata= grade_offender()

Enter your id: 13
Enter each marks by comma: 75,30,45,67,65,60